* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0C70F2;
    color: #ffffff;
    padding: 50px;
}

.link {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 55px;
}

.sectionTexDivfilho1 {
    align-items: center;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.sectionTexFilho {
    font-size: 50px;
}

.form1 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: auto;
    padding: 20px;
    border-radius: 15px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 600px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    margin-top: 20vh;
}

.button {
    border: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgba(242, 242, 242, 0.9);
    height: 50px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    background-color: #BABABA;
}

.buttonPrevisao {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.button1 {
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 5px 10px rgba(9, 124, 231, 0.5);
    background-color: #0C70F2;
    margin-bottom: 20px;
    height: 50px;
    width: 500px;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    border: 0;
    cursor: pointer;
}

.button1:hover {
    background-color: #0858b8;
}

.lotLon{

    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 30px;
}


  
 
   


.form1 label {
    margin-top: 20px;
    font-size: 20px;
}

.containerGeral {
    background-color: #BABABA;
    margin-top: 0px;
    padding-top: 50px;
}

.locais {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #BABABA;
}

#lacais1 {
    margin: 150px;
}

.label {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background-color: #0C70F2;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    padding: 20px;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    margin: 0px;
}

.input1 {
    border: 0;
    margin-left: 20px;
}

#Logradouro {
    margin-right: 65px;
}

#Bairro {
    margin-right: 60px;
}

#Localidade {}

.Previsao2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

.resPrev input {
    width: 80%;
    padding: 10px;
    border: 1px solid #0C70F2;
    border-radius: 15px;
    margin: 10px auto;
    display: block;
}

#resultadoPrevisao {
    margin-bottom: 80px;
}